<!DOCTYPE html>
<html>
<head>
  <title>Recuperar Senha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="grey lighten-4">

  <div class="container">
    <div class="row" style="margin-top: 80px;">
      <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card">
          <div class="card-content">
            <span class="card-title center-align">Recuperar Senha</span>

            <% if (message) { %>
              <div class="card-panel green lighten-4 green-text text-darken-4 center-align">
                <%= message %>
              </div>
            <% } %>

            <% if (error) { %>
              <div class="card-panel red lighten-4 red-text text-darken-4 center-align">
                <%= error %>
              </div>
            <% } %>

            <form action="/remember-password" method="POST">
              <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="email" name="email" id="email" required>
                <label for="email">Email</label>
              </div>

              <div class="center-align" style="margin-top: 20px;">
                <button class="btn waves-effect waves-light" type="submit">Enviar</button>
              </div>
            </form>

            <div class="center-align" style="margin-top: 15px;">
              <a href="/">Voltar para login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <scr
